<section id="spliting">

  <div id="green-alert-container">
      <%= image_tag("beige-exclamation.png", alt: "Exclamation icon", class: "alert-icon")%>
    <p class="grey"><span class="beige important">Attention :</span> Make sure you use addresses that do not have links to you. Or best, create a new wallet address.</p>
  </div>

  <div id="spliting-section">

    <div id="title-address">
      <p class="light-blue important">Payout Addresses for mixed coins:</p>
      <button id="address-explaination" class="popup-btn">
        <%= image_tag("light-blue-question.png", alt: "Question icon", class: "alert-icon question") %>
      </button>
    </div>

    <div id="infos-1" class="infos-address-container">
      <div id="s1" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a1" class="address"></textarea>
    </div>

    <div id="infos-2" class="infos-address-container">
      <div id="s2" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a2" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-3" class="infos-address-container">
      <div id="s3" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a3" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-4" class="infos-address-container">
      <div id="s4" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a4" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-5" class="infos-address-container">
      <div id="s5" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a5" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-6" class="infos-address-container">
      <div id="s6" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a6" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-7" class="infos-address-container">
      <div id="s7" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a7" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-8" class="infos-address-container">
      <div id="s8" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a8" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-9" class="infos-address-container">
      <div id="s9" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a9" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

    <div id="infos-10" class="infos-address-container">
      <div id="s10" class="stats">
        <div class="infos minutes">
          <p class="beige important">0h 0min</p>
        </div>
        <div class="infos percent">
          <input type="number" class="black important" placeholder="0.00%" step="0.01" min="0" max="100">
        </div>
      </div>
      <textarea placeholder="Recurring address for mixed coins:" cols="30" rows="10" id="a10" class="address"></textarea>
      <button class="delete-btn">
        <%= image_tag("light-blue-trashcan.png", alt: "Trashcan icon")%>
      </button>
    </div>

  </div>

  <div id="red-alert-container">
    <%= image_tag("light-blue-exclamation.png", alt: "Exclamation icon", class: "alert-icon")%>
    <p class="grey-blue"><span class="light-blue important">Attention :</span> Make sure you use addresses that do not have links to you. Or best, create a new wallet address.</p>
  </div>

  <button id="add-address-btn" class="important">+ Add New Address</button>

</section>

<section id="display">

    <div class="graph-container">

      <div id="title-delay">
        <p class="light-blue important">Transfer Delay:</p>
        <button id="delay-explaination" class="popup-btn">
          <%= image_tag("light-blue-question.png", alt: "Question icon", class: "alert-icon")%>
        </button>
      </div>
      <div id="graph-delay"></div>

      <div class="progress-bar delay-bar">
        <div id="ac1" class="progress-cursor"></div>
        <div id="ac2" class="progress-cursor"></div>
        <div id="ac3" class="progress-cursor"></div>
        <div id="ac4" class="progress-cursor"></div>
        <div id="ac5" class="progress-cursor"></div>
        <div id="ac6" class="progress-cursor"></div>
        <div id="ac7" class="progress-cursor"></div>
        <div id="ac8" class="progress-cursor"></div>
        <div id="ac9" class="progress-cursor"></div>
        <div id="ac10" class="progress-cursor"></div>
      </div>

    </div>

    <button id="continue-btn-1" class="important">
      Continue
      <span id="shadow">></span>
    </button>

</section>

<section id="popup">

  <div id="alert-checkbox-container">
    <p id="title" class="light-blue important">2. Agree With The Following Terms</p>

    <div id="black-alert-container">
      <%= image_tag("light-blue-exclamation.png", alt: "Exclamation icon", class: "alert-icon")%>
      <p class="grey-blue"><span class="light-blue important">Attention!</span> Make sure to download the letter of guarantee before transferring funds to the generated address. The fees for the order range from 1% to 3% are randomly generated as soon as an incoming payment is detected.</p>
    </div>

    <div id="checkbox-label">
      <div class="check-container">
        <input type="checkbox" id="checkbox-1" class="checkbox">
        <label for="checkbox-1" class="grey-blue"><span class="light-blue important">I confirm</span> that the address generated in the next step is valid for 24 hours only. Cryptocurrency funds sent to this address after 24 hours will not be accepeted.</label>
      </div>

      <div class="check-container">
        <input type="checkbox" id="checkbox-2" class="checkbox">
        <label for="checkbox-2" class="grey-blue"><span class="light-blue important">I confirm</span> that only one payment for this generated address will be accepted for the mixing operation. Any additional payment made to the same generated address will be ignored by the system.</label>
      </div>

      <div class="check-container">
        <input type="checkbox" id="checkbox-3" class="checkbox">
        <label for="checkbox-3" class="grey-blue"><span class="light-blue important">I confirm</span> that I need to download the letter of guarantee before transfering coins to the generated address of Unijoin.</label>
      </div>

      <div class="check-container">
        <input type="checkbox" id="checkbox-4" class="checkbox">
        <label for="checkbox-3" class="grey-blue"><span class="light-blue important">I confirm</span> that I have read and agree to the
          <a href="#" id="terms-conditions-link">Terms and Conditions</a>.
        </label>
      </div>
    </div>
  </div>

  <div id="continue-btn-2-container">
    <button id="continue-btn-2" class="important">
      Continue
      <span id="shadow">></span>
    </button>
  </div>

</section>
